<div class="row mt-3">
    <div class="col-md-3">
        <div class="card">
            <img src="img/Foto4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nivus Highline 2024</h5>
                <p class="card-text">R$ 130.990,00</p>
                <button class="btn btn-lg btn-outline-primary" (click)="open()">Consultar</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="img/Foto5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Honda Civic 2022</h5>
                <p class="card-text">R$ 173.900,00</p>
                <button class="btn btn-lg btn-outline-primary" (click)="open()">Consultar</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="img/Foto6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Corolla Cross 2023</h5>
                <p class="card-text">R$ 138.055,00</p>
                <button class="btn btn-lg btn-outline-primary" (click)="open()">Consultar</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="img/jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <button class="btn btn-lg btn-outline-primary" (click)="open()">Consultar</button>
            </div>
        </div>
    </div>
</div>