<!-- <div class="d-flex flex-column col-2 mt-3">
    <p>AC1</p>
    <input class="form-control" type="number" [(ngModel)]="ac1">

    <p>AC2</p>
    <input class="form-control" type="number" [(ngModel)]="ac2">

    <p>AG</p>
    <input class="form-control" type="number" [(ngModel)]="ag">

    <p>AF</p>
    <input class="form-control" type="number" [(ngModel)]="af">
</div>

<br>

<button class="btn btn-primary" (click)="calcular()">Calcular</button> -->
<!-- <p>Média = {{media}}</p>
<p>Situação = {{situacao()}}</p> -->


<h1>Média Simples</h1>
<label for="nota1" class="form-label">Nota 1:</label>
<input type="number" name="nota1" [(ngModel)]="nota1" class="form-control">
<label for="nota2" class="form-label">Nota 2:</label>
<input type="number" name="nota2" [(ngModel)]="nota2" class="form-control">
<label for="nota3" class="form-label">Nota 3:</label>
<input type="number" name="nota3" [(ngModel)]="nota3" class="form-control">
<label for="nota4" class="form-label">Nota 4:</label>
<input type="number" name="nota4" [(ngModel)]="nota4" class="form-control">
<button (click)="calcularMedia()" class="btn btn-primary mt-2 mb-2">Calcular Média</button>
<p>Média = {{media}}</p>
<p>Situação = {{situacao}}</p>
<p>Última média = {{ultimaMedia | json}}</p>