<div class="d-flex flex-column col-2 mt-3">
    <p>Capital inicial</p>
    <input class="form-control" type="number" [(ngModel)]="capital">

    <p>Taxa de Juros (% ao ano)</p>
    <input class="form-control" type="number" [(ngModel)]="taxaJuros">

    <p>Tempo (anos)</p>
    <input class="form-control" type="number" [(ngModel)]="tempo">
</div>

<br>

<button class="btn btn-primary mt-2" (click)="calcular()">Calcular</button>


<p>Juros Simples: {{ juros }}</p>
<p>Montante Total: {{ montante }}</p>